*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* shared classes */

.button{
    padding: 7px 14px;
    border: none;
    color: #FFFFFF;
    background-color: #0061FF;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-30{
    width: calc(100% / 3 - 30px);
}

.col-30-content{
    width: 100%;
}

.container-1170{
    margin: 0px auto;
    max-width: 1170px;
}

.col-100{
    width: 100%;
    margin-top: 50px;
}

.col-100-content{
    margin-bottom: 50px;
    position: relative;
}

.col-50{
    width: 50%;
    height: 50%;
    position: relative;
} 

.height{
    height: 100%;
}

/* fine shared classes */

/* header */

.navbar-row{
    width: 100vw;
}

.navbar-col{
    width: 100vw;
    position: fixed;
    z-index: 100;
    background-color: #FFFFFF;
    
}

.navbar-content{
    padding: 20px 0px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.left-content{
    width: calc(100% / 2);
    display: flex;
}

.left-navbar-options{
    margin-left: 25px;
}

.logo{
    margin-left: 25px;
}

.left-menu{
    margin-right: 30px;
    color: #000000;
    text-decoration: none;
}

.right-content{
    width: calc(100% / 2);
    display: flex;
    justify-content: flex-end;
}

.right-menu{
    margin-right: 25px;
    color: #000000;
    text-decoration: none;
}

.header-button{
    margin-right: 25px;
}

/* fine header */

/* sezione " Tuttò ciò che ti serve per il lavoro" */

h1{
    padding-top: 60px;
    margin-bottom: 15px;
    font-size: 4.5rem;
    font-weight: 800;
}

.jumbotron-1{
    padding-top: 80px;
    width: 100vw;
    background-color: #B4D0E7;
}

.col-30-first{
    width: 30%;
}

.col-30-first > p{
    padding: 25px 0px 25px 0px;
    font-size: 0.9rem;
}

.col-30-first > span{
    margin: 30px 0px;
    font-size: 0.9rem;
    display: inline-block;
}

.button-1{
    padding: 13px;
    font-size: 0.9rem;
}

.arrow-down{
    margin: 30px 0px 10px 0px;
    font-size: 2.5rem;
}

.col-70-first{
    width: 70%;
}

.image-1-container{
    position: relative;
}

.image-1{
    width: 100%;
    position: absolute;
    top: 25px;
}

/* fine sezione " Tuttò ciò che ti serve per il lavoro" */

/* sezione " Trova il piano business" */

/* selezione fatturazione */

.radio-check{
    margin: 50px 0px;
}

#fatturazione-annuale{
    margin-left: 50px;
}

/* fine selezione fatturazione */

.container-991{
    max-width: 991px;
    margin: 0px auto;
}

.container-991 > h2{
    margin-top: 175px;
    margin-bottom: 50px;
    font-size: 2.5rem;
}

.col-30-border, .col-100-border{
    border: solid 1px lightgray;
}

.subscription-plan{
    padding: 10px;
    border-bottom: solid 1px lightgray;
    text-align: center;
}

.details{
    width: calc(100% - 40px);
    padding-left: 15px;
    padding-bottom: 10px;
    margin: 25px 15px;
}

.details > h3{
    margin-bottom: 15px;
}

.price{
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.duration{
    margin-bottom: 50px;
    font-size: 0.8rem;
    color: #A7A7A7;
}

ul li{
    font-size: 0.9rem;
    list-style-type: none;
}

.subscription-plan-function{
    width: 100%;
    margin-left: 5px;
}

.free-trial-button{
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
}

.buy-now{
    margin: 20px 0px;
    font-size: 0.9rem;
    font-weight: 300;
}

.fa-check{
    color: #0061FF;
}

hr{
    width: 55px;
    margin: 30px 0px 40px 0px;
    color: #A7A7A7;
}

li{
    margin: 25px 0px;
    font-weight: 400;
    display: flex;
}

.col-100-subsciprion-plan{
    margin: 15px 0px;
}

.col-100-text{
    width: 65%;
    margin: 30px 30px;
}

.col-100-text > h3{
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.col-100-text > h5{
    margin-bottom: 40px;
}

.col-100-text > p{
    font-size: 0.9rem;
}

.contact-button{
    padding: 10px 30px;
    position: absolute;
    top: 65px;
    right: 30px;   
}

/* fine sezione " Trova il piano business" */

/* sezione Entra in contatto con un partner */

.row-60{
    margin-top: 120px;
}

.col-60{
    width: 60%;
}

.col-60 > img{
    width: 100%;
}

.col-40{
    width: 40%;
}

.col-40-content{
    margin: 65px;
}

.col-40-content > h3{
    margin-bottom: 15px;
}

.col-40-content > p{
    margin-bottom: 30px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #3D3D3D;
}

.find-partner-button{
    padding: 10px 20px;
    border: 1px solid #3D3D3D;
    font-size: 0.9rem;
    color: #3D3D3D;
    background-color: #FFFFFF;
}

/* fine sezione Entra in contatto con un partner */

/* sezione Esegui più operazione con Dropbox Business*/

.col-30-content > img{
    width: 100%;
}

.col-30-content > h4{
    margin: 20px 0px;
    font-size: 1.1rem;
}

.col-30-content > p{
    margin-bottom: 10px;
    font-size: 0,8rem;
    font-weight: 400;
    color: #3D3D3D;
}

/* sezione Esegui più operazione con Dropbox Business*/

/* sezione Più di 500.000 team utilizzano Dropbox Business */

.col-100-content > h2{
    padding-bottom: 50px;
    margin-top: 105px;
    font-size: 2.5rem;
}

/* fine sezione Più di 500.000 team utilizzano Dropbox Business */

/* sezione Designit */

.logos-container{
    width: 100%;
    margin-top: 100px;
    background-color: #F5F5F5;
}

.col-33{
    height: calc(100vw / 3);
    width: calc(100% / 3);
}

.designit-content{
    padding: 50px;
}

.designit-img > img{
    width: 50%;
} 

.designit-content > p, span{
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 400;
    color: #3D3D3D;
}

.designit-content > span{
    margin: 50px 0px 100px 0px;
}

.designit-logo{
    margin: 30px 0px 40px 0px;
}

.squares > img{
    width: 150px;
    transform: translate(-50%, -50%);
    filter: brightness(0) invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
}

#background-light-green{
    border: 20px solid #D1E9CD;
    background-color: #A2D39B;
}

#background-dark-red{
    background-color: #61082B;
}

#background-sky-blue{
    background-color: #0093CE;
}

.background-red{
    background-color: #FF1C1C;
}

#background-light-blue{
    background-color: #B4D0E7;
}

#background-blue{
    background-color: #0D2481;
}

#background-yellow{
    background-color: #FFD830;
}

/* fine sezione Designit */

